.header {
    position: absolute;
    width: 307px;
    height: 166px;
    left: 42px;
    top: 25px;

    justify-content: right;
    font-family: 'IBM Plex Mono';
    font-style: normal;
    font-weight: 700;
    font-size: 64px;
    line-height: 83px;

    color: #ffffff;
}