

<ion-content scrollY="false" [fullscreen]="true">
  
  <div class="loginBG">
    <div class="polygon1"></div>
    <div class="polygon2"></div>
    <div class="polygon3"></div>
    <div class="polygon4"></div>
    <div class="polygon5"></div>
  </div>
 
  <div class="loginRectangle">
    
    <img src="../../assets/musicNoteYellow.svg" class="musicNote1">
    <img src="../../assets/musicNoteRed.svg" class="musicNote2">
    <img src="../../assets/musicNoteOrange.svg" class="musicNote3">
    <p class="header">Discover You</p>
  </div>
  <div class="loginRectangle2">
    <input type="text" class="inputBoxUser" placeholder="Email">
    <input type="text" class="inputBoxPass" placeholder="Password ">
    <p class="RememberMe">Remember Me</p>
    <input type="checkbox" class="checkBox">
      
    <button class="signIn" (click)="goToHome()"  >Sign in</button>
  </div>
  
  
  
 
</ion-content>
