.header {
    position: relative;
    width: 307px;
    height: 166px;
    text-align: right;
    justify-content: right;
    font-family: 'Arial';
    font-style: normal;
    font-weight: 700;
    font-size: 64px;
    line-height: 83px;
    top: -20%;
    left: 48%;
    margin-right: -50%;
    transform: translate(-50%, -50%);

    color: #000000;
}

.loginBG{

    position: relative;
    width: 390px;
    height: 844px;
    top: 50%;
    left: 50%;
    margin-right: -50%;
    transform: translate(-50%, -50%);
    /* Branding/Dark Grey
    
    Backgrounds
    */
    background: #5A5A5A;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    overflow: hidden;

}
.loginRectangle {

    box-sizing: border-box;

    position: absolute;
    width: 328px;
    height: 419px;
    left: 31px;
    top: 25px;
    top: 30%;
    left: 50%;
    margin-right: -50%;
    transform: translate(-50%, -50%);
    /* Branding/Pastel Purple

    Branding Purpose
    */
    background: #A8A6FF;
    border: 1px solid #000000;
    /* Shadow/8px Shadow

    Medium sized components (32px)
    */
    box-shadow: 8px 8px 0px #000000;

}

.loginRectangle2 {

    box-sizing: border-box;
    position: absolute;
    width: 328px;
    height: 245px;
    left: 50%;
    top: 80%;
    transform: translate(-50%, -50%);
    /* Branding/Pastel Purple */
    background: #A8A6FF;
    border: 1px solid #000000;
    /* Shadow/8px Shadow */
    box-shadow: 8px 8px 0px #000000;

  }
  

  .polygon1 {
    content: "";
    position: absolute;
    width: 0;
    height: 0;
    left: -15%;
    top: 60%;
    border-style: solid;
    border-width: 0 389px 280px 0;
    border-color: transparent #FF9F9F transparent transparent;
    transform: rotate(-132.7deg);
  }
  .polygon2 {
    content: "";
    position: relative;
    width: 0;
    height: 0;
    left: 20%;
    top: 0%;
    border-style: solid;
    border-width: 389px 0 0 280px;
    border-color: transparent transparent transparent #B8FF9F;
    transform: rotate(-73.1deg);
  }
.polygon3{
    content: "";
    position: relative;
    width: 0;
    height: 0;
    left: 13%;
    top: 40%;
    border-style: solid;
    border-width: 389px 0 0 280px;
    border-color: transparent transparent transparent #A6FAFF;
    transform: rotate(-83.5deg);
}
.polygon4{
    content: "";
    position: relative;
    width: 0;
    height: 0;
    left: 0%;
    top: -115%;
    border-style: solid;
    border-width: 389px 0 0 280px;
    border-color: transparent transparent transparent #FFC29F;
    transform: rotate(-16.7deg);
}
.polygon5{
    content: "";
    position: relative;
    width: 0;
    height: 0;
    left: 80%;
    top: -100%;
    border-style: solid;
    border-width: 389px 0 0 280px;
    border-color: transparent transparent transparent #FFF59F;
    transform: rotate(43deg);
}

.musicNote1 {

    box-sizing: border-box;

    position: relative;
    width: 52px;
    height: 52px;
    right: -2%;
    top: 65%;

    /* Branding/Pastel Yellow

    Branding Purpose
    */
    background: #fff59f00;

}
.musicNote2 {

    box-sizing: border-box;

    position: relative;
    width: 63px;
    height: 63px;
    right: 0%;
    top: 50%;

    /* Branding/Pastel Yellow

    Branding Purpose
    */
    background: #fff59f00;

}
.musicNote3 {

    box-sizing: border-box;

    position: relative;
    width: 96px;
    height: 96px;
    right: 5%;
    top: 33%;

    /* Branding/Pastel Yellow

    Branding Purpose
    */
    background: #fff59f00;

}
.inputBoxUser{

    box-sizing: border-box;

    /* Auto layout */
    
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 10px 10px 10px 10px;
    gap: 10px;

    position: relative;
    width: 231px;
    height: 39px;
    top: 12%;
    margin: auto;
 

    color: #000000;
    background: #FFFFFF;
    border: 1px solid #000000;
    /* Shadow/2px Shadow

    Smaller sized components
    (8px)
    */
    box-shadow: 2px 2px 0px #000000;
    border-radius: 4px;
}
.inputBoxPass{

    box-sizing: border-box;

    /* Auto layout */
    
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 10px 10px 10px 10px;
    gap: 10px;

    position: relative;
    width: 231px;
    height: 39px;
    top: 22%;
    margin: auto;

    color: #000000;
    
    background: #FFFFFF;
    border: 1px solid #000000;
    /* Shadow/2px Shadow

    Smaller sized components
    (8px)
    */
    box-shadow: 2px 2px 0px #000000;
    border-radius: 4px;
}

.checkBox{
    box-sizing: border-box;

    position: absolute;
    right: 80%;
    top: 60%;
    width: 18px;
    height: 18px;
    accent-color: red;
    background: #FFFFFF;
    border: 2px solid #000000;
    border-radius: 2px;
}

.signIn{

    box-sizing: border-box;

    /* Auto layout */
    position: relative;
    display: flex;
    justify-content: center;
    padding: 10px;
    gap: 10px;


    width: 175px;
    height: 39px;
    margin: auto;
    top: 20%;
    
    background: #79F7FF;
    mix-blend-mode: normal;
    border: 2px solid #000000;
    /* Shadow/2px Shadow

    Smaller sized components
    (8px)
    */
    box-shadow: 2px 2px 0px #000000;
    border-radius: 19.5px;
}

.RememberMe{
    
    position: relative;
    width: auto;
    height: auto;
    left: 25%;
    top: 21.25%;
    
    /* Content/Small content
    
    For making a small sized components
    */
    font-family: 'Arial';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 19px;
    
    color: #000000;

}