

<ion-content [fullscreen]="true">




    <div class="playlist-name-container">
      <p class="playlist-name">Playlist/Album Name</p>
    </div>

    <div class="playlist-image-container">
      <div class="album-picture-holder album-picture-big">
        <img src="../../assets/innerspeaker.jpg">
      </div>
      <button class="red-circle play-button red-circle-play" (click)="playAudio()">
        <img *ngIf="!playing" src="../../assets/arrow.svg" class="centered-image-arrows">
      
        
        <ion-icon size="xlarge" *ngIf="playing" name="pause" ></ion-icon>

      </button>
      <button class="red-circle play-button red-circle-dots">
        <img src="../../assets/dots.svg" class="centered-image-dots">
      </button>
    </div>

    <div class="songs-container">
      <div class="song-information-container sic-one">
        <div class="album-picture-holder album-picture-small">
          <img src="../../assets/innerspeaker.jpg">
        </div>
        <p class="song-title">Song Title</p>
        <p class="artist-name">Artist Name</p>
      </div>
      <div class="song-information-container sic-two">
        <div class="album-picture-holder album-picture-small">
          <img src="../../assets/innerspeaker.jpg">
        </div>
        <p class="song-title">Song Title</p>
        <p class="artist-name">Artist Name</p>
      </div>
      <div class="song-information-container sic-three">
        <div class="album-picture-holder album-picture-small">
          <img src="../../assets/innerspeaker.jpg">
        </div>
        <p class="song-title">Song Title</p>
        <p class="artist-name">Artist Name</p>
      </div>
      <div class="song-information-container sic-four">
        <div class="album-picture-holder album-picture-small">
          <img src="../../assets/innerspeaker.jpg">
        </div>
        <p class="song-title">Song Title</p>
        <p class="artist-name">Artist Name</p>
      </div>
      <div class="song-information-container sic-five">
        <div class="album-picture-holder album-picture-small">
          <img src="../../assets/innerspeaker.jpg">
        </div>
        <p class="song-title">Song Title</p>
        <p class="artist-name">Artist Name</p>
      </div>
      <div class="song-information-container sic-six">
        <div class="album-picture-holder album-picture-small">
          <img src="../../assets/innerspeaker.jpg">
        </div>
        <p class="song-title">Song Title</p>
        <p class="artist-name">Artist Name</p>
      </div>
      <div class="song-information-container sic-seven">
        <div class="album-picture-holder album-picture-small">
          <img src="../../assets/innerspeaker.jpg">
        </div>
        <p class="song-title">Song Title</p>
        <p class="artist-name">Artist Name</p>
      </div>
    </div>

</ion-content>
