<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>welcome</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">


  <div class="background">

    <div class="welcomeContainer">
      <p class="welcomeBack">Welcome Back John!</p>
    </div>

    <div class="mainContainer">
      <p class="mainText">Yours</p>
      <div class="playlistBase1">
        <p class="playlistT">Playlist</p>
      </div>
      <div class="playlistBase2">
        <p class="playlistT">Playlist</p>
      </div>
      <div class="playlistBase3">
        <p class="playlistT">Playlist</p>
      </div>
      <div class="playlistBase4">
        <p class="playlistT">Playlist</p>
      </div>
      <div class="playlistBase5">
        <p class="playlistT">Playlist</p>
      </div>
      <div class="playlistBase6">
        <p class="playlistT">Playlist</p>
      </div>
      <div class="playlistBase7">
        <p class="playlistT">Playlist</p>
      </div>
      <div class="playlistBase8">
        <p class="playlistT">Playlist</p>
      </div>

      <p class="mainText">Recent Plays</p>

      <div class="albumBox position1"></div>
      <div class="albumBox position2"></div>
      <div class="albumBox position3"></div>
      <div class="albumBox position4"></div>
      <div class="albumBox position5"></div>
      <div class="albumBox position6"></div>


    </div>

  </div>

  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">welcome</ion-title>
    </ion-toolbar>
  </ion-header>
</ion-content>