
.settings {

    position: absolute;
    left: 280px;
    color: #5A5A5A;

}


.welcomeContainer{

    box-sizing: border-box;

    position: relative;
    width: 355px;
    height: 85px;
    left: 12px;
    top: 13px;

    /* Branding/Pastel Purple

    Branding Purpose
    */
    background: #A8A6FF;
    border: 1px solid #000000;
    /* Shadow/8px Shadow

    Medium sized components (32px)
    */
    box-shadow: 8px 8px 0px #000000;

}

.welcomeBack{

    position: relative;
    width: 282px;
    height: 39px;
    top: -7%;
    left: 5%;
    /* Title/Medium Title

    Medium sized header
    */
    font-family: 'Arial';
    font-style: normal;
    font-weight: 700;
    font-size: 32px;
    line-height: 42px;
    display: flex;
    align-items: center;

    color: #000000;

}

.mainContainer{

    box-sizing: border-box;

    position: relative;
    width: 356px;
    height: 613px;
    left: 12px;
    top: 4%;

    /* Branding/Pastel Purple

    Branding Purpose
    */
    background: #A8A6FF;
    border: 1px solid #000000;
    /* Shadow/8px Shadow

    Medium sized components (32px)
    */
    box-shadow: 8px 8px 0px #000000;

}

.mainText{
    
    position: relative;
    width: 282px;
    height: 39px;
    left: 5%;
    top: -3%;

    /* Title/Medium Title

    Medium sized header
    */
    font-family: 'Arial';
    font-style: normal;
    font-weight: bold;
    font-size: 32px;
    line-height: 42px;
    display: flex;
    align-items: center;

    color: #000000;

}

.playlistBase1{

    box-sizing: border-box;
    display:inline-block;
    position: relative;
    width: 145px;
    height: 41px;
    right: -20px;
    top: -40px;

    /* Branding/Dark Grey

    Backgrounds
    */
    background: #5A5A5A;
    border: 1px solid #000000;
    /* Shadow/4px Shadow

    Small sized components (24px)
    */
    box-shadow: 4px 4px 0px #000000;

}

.playlistBase2{

    box-sizing: border-box;
    display:inline-block;
    position: relative;
    width: 145px;
    height: 41px;
    left: 40px;
    top: -20px;

    /* Branding/Dark Grey

    Backgrounds
    */
    background: #5A5A5A;
    border: 1px solid #000000;
    /* Shadow/4px Shadow

    Small sized components (24px)
    */
    box-shadow: 4px 4px 0px #000000;

}
.playlistBase3{

    box-sizing: border-box;
    display:inline-block;
    position: relative;
    width: 145px;
    height: 41px;
    right: -20px;
    top: -30px;

    /* Branding/Dark Grey

    Backgrounds
    */
    background: #5A5A5A;
    border: 1px solid #000000;
    /* Shadow/4px Shadow

    Small sized components (24px)
    */
    box-shadow: 4px 4px 0px #000000;

}

.playlistBase4{

    box-sizing: border-box;
    display:inline-block;
    position: relative;
    width: 145px;
    height: 41px;
    left: 40px;
    top: -30px;

    /* Branding/Dark Grey

    Backgrounds
    */
    background: #5A5A5A;
    border: 1px solid #000000;
    /* Shadow/4px Shadow

    Small sized components (24px)
    */
    box-shadow: 4px 4px 0px #000000;

}
.playlistBase5{

    box-sizing: border-box;
    display:inline-block;
    position: relative;
    width: 145px;
    height: 41px;
    right: -20px;
    top: -20px;

    /* Branding/Dark Grey

    Backgrounds
    */
    background: #5A5A5A;
    border: 1px solid #000000;
    /* Shadow/4px Shadow

    Small sized components (24px)
    */
    box-shadow: 4px 4px 0px #000000;

}

.playlistBase6{

    box-sizing: border-box;
    display:inline-block;
    position: relative;
    width: 145px;
    height: 41px;
    left: 40px;
    top: -20px;

    /* Branding/Dark Grey

    Backgrounds
    */
    background: #5A5A5A;
    border: 1px solid #000000;
    /* Shadow/4px Shadow

    Small sized components (24px)
    */
    box-shadow: 4px 4px 0px #000000;

}

.playlistBase7{

    box-sizing: border-box;
    display:inline-block;
    position: relative;
    width: 145px;
    height: 41px;
    right: -20px;
    top: -10px;

    /* Branding/Dark Grey

    Backgrounds
    */
    background: #5A5A5A;
    border: 1px solid #000000;
    /* Shadow/4px Shadow

    Small sized components (24px)
    */
    box-shadow: 4px 4px 0px #000000;

}

.playlistBase8{

    box-sizing: border-box;
    display:inline-block;
    position: relative;
    width: 145px;
    height: 41px;
    left: 40px;
    top: -10px;

    /* Branding/Dark Grey

    Backgrounds
    */
    background: #5A5A5A;
    border: 1px solid #000000;
    /* Shadow/4px Shadow

    Small sized components (24px)
    */
    box-shadow: 4px 4px 0px #000000;

}

.playlistT{
    /* Auto layout */

    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    padding: 0px;

    position: absolute;
    width: 96px;
    height: 24px;
    top: -20%;
    right: 0%;
    overflow: hidden;

}

.albumBox {
    box-sizing: border-box;
    position: absolute;
    width: 103px;
    height: 103px;
    background: #838383;
    border: 1px solid #000000;
  }
  
  .position1 {
    display: inline-block;
    top: 350px;
    left: 10px;
  }
  
  .position2 {
    display: inline-block;
    top: 350px;
    left: 125px;
  }
  
  .position3 {
    display: inline-block;
    top: 350px;
    left: 240px;
  }
  
  .position4 {
    display: inline-block;
    top: 480px;
    left: 10px;
  }
  
  .position5 {
    display: inline-block;
    top: 480px;
    left: 125px;
  }
  
  .position6 {
    display: inline-block;
    top: 480px;
    left: 240px;
  }
  