<ion-header [translucent]="true">

</ion-header>


<ion-content [fullscreen]="true">

 

    <div class="welcomeContainer">
      <ion-button fill="clear" (click)="goToHome()" class="settings">
        <ion-icon  slot="icon-only" name="settings-outline"></ion-icon>
      </ion-button>
      <p class="welcomeBack">Welcome Back John!</p>
     
    </div>

    <div class="mainContainer">
      <p class="mainText">Yours</p>
      <button  [routerLink]="['playlist']" class="playlistBase1">
        <p class="playlistT">Playlist</p>
      </button>
      <div class="playlistBase2">
        <p class="playlistT">Playlist</p>
      </div>
      <div class="playlistBase3">
        <p class="playlistT">Playlist</p>
      </div>
      <div class="playlistBase4">
        <p class="playlistT">Playlist</p>
      </div>
      <div class="playlistBase5">
        <p class="playlistT">Playlist</p>
      </div>
      <div class="playlistBase6">
        <p class="playlistT">Playlist</p>
      </div>
      <div class="playlistBase7">
        <p class="playlistT">Playlist</p>
      </div>
      <div class="playlistBase8">
        <p class="playlistT">Playlist</p>
      </div>

      <p class="mainText">Recent Plays</p>

      <div class="albumBox position1"></div>
      <div class="albumBox position2"></div>
      <div class="albumBox position3"></div>
      <div class="albumBox position4"></div>
      <div class="albumBox position5"></div>
      <div class="albumBox position6"></div>


    </div>



</ion-content>