<ion-tabs>

  <ion-tab-bar class="shadow" slot="bottom">
    <ion-tab-button class="purple" tab="tab1">
      <ion-icon aria-hidden="true" src="../../assets/tabs/house.svg"></ion-icon>
      <ion-label>Home</ion-label>
    </ion-tab-button>

    <ion-tab-button class="purple" tab="tab-discover">
      <ion-icon aria-hidden="true" src="../../assets/tabs/map.svg"></ion-icon>
      <ion-label>Discover</ion-label>
    </ion-tab-button>

    <ion-tab-button  class="purple" tab="tab3">
      <ion-icon aria-hidden="true" src="../../assets/tabs/book.svg"></ion-icon>
      <ion-label >Library</ion-label>
    </ion-tab-button>
  </ion-tab-bar>

</ion-tabs>
