<ion-header [translucent]="true">
</ion-header>

<ion-content [fullscreen]="true">


  <div class="your-library">
    <p class="your-library-text">Your Library</p>
  </div>

  <div class="main-buttons">
    <div class="red-button-base rbb-1">
      <p class="redbox-text">Playlists</p>
    </div>
    <div class="red-button-base rbb-2">
      <p class="redbox-text">Liked Songs</p>
    </div>
    <div class="red-button-base rbb-3">
      <p class="redbox-text">Liked Albums</p>
    </div>
    <div class="red-button-base rbb-4">
      <p class="redbox-text">Create</p>
    </div>
  </div>

  <div class="recent-container">
  
    <p class="mainText recent">Recently Played</p>

    <div class="albumBox position1">
        <img src="../../assets/Pacific.jpg">
    </div>
    <div class="albumBox position2">
      <img src="../../assets/Lethal.jpg">
    </div>
    <div class="albumBox position3">
      <img src="../../assets/TheChronic.jpg">
    </div>
    <div class="albumBox position4">
      <img src="../../assets/innerspeaker.jpg">
    </div>
    <div class="albumBox position5">
      <img src="../../assets/Equinoxe.jpg">
    </div>
    <div class="albumBox position6">
        <img src="../../assets/FlowerBoy.jpg">
    </div>

  </div>


</ion-content>
